(service_paths) {
	handle_path /whoami* {
		reverse_proxy localhost:8888
	}

	handle_path /os* {
		redir {scheme}://{host}:9090{uri}
	}

	handle_path /streaming* {
		reverse_proxy localhost:8096
	}
}

media-server.dunker-bonito.ts.net {
	import service_paths
}

# domain for local DNS access (via pihole)
http://media.bot {
	import service_paths
}
